*,
*::before,
*::after {
    box-sizing: border-box;
}

body {

    font-family: "Raleway", serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 0px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-family: 'Anton', sans-serif;
    font-size: 1.8rem;
}

/* Barre de navigation */
.navbar ul {
    font-family: "League Gothic",sans-serif;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    transition: color 0.3s;
    letter-spacing: 0.05cm;
}

.navbar a:hover {
    color: #007700;
}

/* Burger Menu */
.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.burger-menu span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transition: transform 0.3s, opacity 0.3s;
}

/* Navbar masquée par défaut */
.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .burger-menu {
        display: flex;
    }

    .navbar ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #000;
        width: 100%;
        padding: 20px;
    }

    .navbar ul.active {
        display: flex;
    }

    .navbar li {
        margin: 10px 0;
    }
}

/* Sections */
.section {
    padding: 20px;
    margin: 0 auto;
    height: 100vh;
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.landing {
    background-color: #1a1a1a;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing h1 {
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    margin-bottom: 10px;
}

/* Icone */

#icon {
    width: 400px;
    height: 400px;
    float: left;
    transition: transform 0.1s ease;
}

#icon:active {
    transform: scale(0.95);
}

.scroll-down {
    font-size: 2rem;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
    margin-top: 20px;
    animation: scroll 2s ease-in-out infinite alternate;
}

.scroll-down:hover {
    color: #007700;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Section - À propos */
.about {
    padding: 50px;
    color: black;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-right: 20px;
}
.about-content p{
    padding:0;
    text-align: justify;
    font-size: 1.5rem;
    font-weight: 300;
    max-width: 80ch;

}
.profile-image {
    max-width: 200px;
    border-radius: 20%;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    float: left;
}

.highlight:hover{
    background-color: #007700;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

/* Style du point d'interrogation encerclé */
.question-circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 2px solid #007700;
    border-radius: 60%;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: #007700;
    color: #fff;
}

/* Style du pop-up */
.bulle-info {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    text-align: center;
    border-radius: 8px;
    width: 300px;
}

/* Masque pour le fond cliquable */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Section - Compétences */
.skills {
    padding: 50px;
}

.skills p {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}
.skills-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}
#skills{
    background-image: url("img/symbol-scatter-haikei.svg");
    background-size:contain;
    background-position: center;
}
.skill-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.skill-card:hover {
    transform: scale(1.05);
}

.skill-card h3 {
    font-size: 1.5rem;
    color: #007700;
    margin-bottom: 15px;
}

.skill-card ul {
    list-style: none;
    padding: 0;
}

.skill-card li {
    font-size: 1rem;
    margin-bottom: 10px;
}

/* Projects Section */
.projects {
    padding: 50px;
}

.projects-container {
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
    scroll-snap-type: x mandatory;
}
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project-card {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    gap: 20px;
    text-align: center;
    scroll-snap-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 15px;
}

.project-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #007700;
}

.project-card p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
}

.project-link {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007700;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.project-link:hover {
    background-color: #005500;
}
 
/* Section - Contact */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-image: url(img/wave-haikei.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;

}

.contact h2 {
    margin-bottom: 20px;
    color: #000;
}

.contact-description {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #555;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #007700;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 1rem;
}

.contact-button img {
    width: 20px;
    height: 20px;
}

.contact-button:hover {
    background-color: #005500;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .contact-links {
        flex-direction: column;
        align-items: center;
    }
}


/* Footer */

.footer {
    text-align: center;
    padding: 10px ;
    background-color: #000;
    color: #fff;
    font-size: 0.9rem;
}

/* Conteneur de la galerie */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

/* Style pour chaque photo */
.img-gallery {
    width: 430px;
    height: 290px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.img-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Effet de survol */
.img-gallery:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}